.navbar {
  background-color: black;
  color: white;
}
.blueLine {
  min-height: 10px;
  width: 100%;
  background-color: #070278;
}
.item {
  color: red;
}
.result {
  color: blue;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.center {
  margin: auto;
  text-align: center;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}
